@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bg-dark rounded-1 bg-opacity-100">
    <h1 class="display-4">Welcome</h1>
    <p class="text-white">Let Inventory Tracker help you manage your products efficiently.</p>
</div>
