@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center bg-dark rounded-1 bg-opacity-75">
<h1>@ViewData["Title"]</h1>

<p class="text-white">
   It is advised that personal data not be added to the website as data isn't private.
</p>
</div>