@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center bg-dark rounded-1 bg-opacity-100">
<h1>@ViewData["Title"]</h1>

<p class="text-white">


## Privacy Policy for InventoryTracker</br>
</br>
**Effective Date:** April 28, 2026</br>
</br>
### 1. Data Collection and Usage</br>
Our application is designed to help you track inventory. We collect the following information:</br>
* **Inventory Data:** Details you enter about items, quantities, and locations.</br>
</br>
### 2. Data Storage</br>
All data is stored in a secure database (e.g., SQLite or SQL Server). </br>
* **Local Hosting:** If you are running this app locally, your data remains on your machine/server.</br>
* **Cloud Hosting:** If hosted on a service like Azure, data is stored within their secure infrastructure.</br>
</br>
### 3. Data Sharing</br>
We **do not** sell, trade, or otherwise transfer your inventory data to outside parties. Data is only accessed by the application to provide the intended tracking services.</br>
</br>
### 5. Cookies</br>
This application may use "cookies" to maintain your session and keep you logged in. These are functional cookies and do not track your activity on other websites.</br>
</br>
### 6. User Rights</br>
You have full control over your data. You may add, edit, or delete inventory records and user accounts directly through the application interface at any time.</br>

</p>
</div>